.searchHeader {
    padding: 1rem;
    border-bottom: 1px solid #797979;
    box-shadow: 0px 0px 4px #0000004d, 0px -1px 0px 0px #d9d9d9 inset;
    background: inherit;
    background-color: #f3f3f3;
}
.fcl .sapFFCLNavigationButton, .sapUiSizeCompact .sapFFCLNavigationButton {
    visibility: hidden !important;
}
/* .fcl .sapFFCLColumnBegin {
    width: 28% !important;
} */
.font1_5 {
    font-size: 1.5rem !important;
}

.font1_5 .sapMLabel {
    font-size: 1.5rem !important;
}
.font1_2 {
    font-size: 1.2rem !important;
}
.fontBlack {
    color: black !important;
}

.font1_2 .sapMLabel {
    font-size: 1.2rem !important;
}
.font0_8 {
    font-size: 0.8rem !important;
}
.font0_9 {
    font-size: 0.9rem !important;
}
.font0_7 {
    font-size: 0.7rem !important;
}
.font1 {
    font-size: 1rem !important;
}
.fontBold {
    font-weight: bold !important;
}

.font1 .sapMLabel {
    font-size: 1rem !important;
}

.calcBtn .sapMBtnInner {
    border: 1px solid #0A6ED1;
    color: #0A6ED1;
    font-weight: bold;
}
.grayBBorder {
    border-bottom: 1px solid #dbdbdb;
}
.pageMsg {
    font-size: 2rem !important;
    color: #6A6D70;
}

.TableMsgStrip {
    background-color: transparent !important;
    border-radius: 1rem !important;
    padding: 0rem 1rem !important;
    min-height: 1rem !important;
    
}
.padding1 {
    padding: 1rem !important; 
}
.TableMsgStrip .sapMText {
    font-size: 0.8rem !important;
}

.BlueBtn .sapMBtnInner {
    background-color: #0a6ed1 !important;
    border-color: #0a6ed1 !important;
}

.paddingTable {
    padding-left: 2rem;
    padding-right: 2rem;
}

.GrayBack {
    background-color: #f2f2f2 !important;
}
.detailHeader .sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {
    border-bottom: 1px solid #797979;
    height: 10rem;
    box-shadow: 0px 0px 4px #0000004d, 0px -1px 0px 0px #d9d9d9 inset;
    background: inherit;
    background-color: #f3f3f3;
}
.DetailTabs .sapMITH {
  background-color: transparent;
  border-bottom: 0.125rem solid #e5e5e5 !important;
  box-shadow:none;
  padding: 0rem 0rem 0rem 0rem !important;

}
.blockPadding .sapUxAPBlockContainer {
    padding: 0rem 0rem 0rem 0rem !important;
}
.whiteBack .sapUxAPObjectPageWrapper {
    background-color: white !important;
}
.whiteBack .sapMITBContent {
    background-color: white !important;
}
.whiteBack {
    background-color: white !important;
}
.FormTitle .sapUiFormTitle {
    border-color: transparent;
    font-weight: bold;
    color: black;
}
.BlueText {
    color:  #0854a4
}

.redText {
    color:  #D9001B
}
.OrangeText {
    color:   #d98200

}
.popoverTitle .sapMIBar-CTX .sapMTitle {
    color: #3d3c3c;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
/* .iconTabBar .sapMITBText {
    width: 7rem;
} */
.historyList .sapMLIB {
    border: none !important;
   
}
.borderBox {
    border: 1px solid #b5b5b5 !important;
}
.lineBack {
    background-color: #6A6D70;
}
.paddingB1 {
    padding-bottom: 1rem;
}
.padding2 {
    padding: 2rem;
}
.padding0_5 {
    padding: 0.5rem;
}
.greenText {
    color: green !important;
}

.BorderTab .sapMITBContent {
    border:none !important;
}
.GreenIcon .sapMBtnIcon {
    color:  #038810 !important;
}
.BlueIcon .sapMBtn .sapMBtnIcon {
    color:   #0854a0 !important;
}
.TabText .sapMITBFilter .sapMITBText {
    white-space: pre-wrap !important;
    width: 7rem !important;
    margin-right: -0.5rem !important;
}
.TabText .sapMITBFilterDefault {
    margin-right: 1rem !important;
}
.redText[data-show="X"] .sapMText {
    color:  #c00017;
    font-weight: bold;
}
.genricTable .sapMTB.sapMTBHeader-CTX {
    background: white !important;
}
.grayRow[data-gray="X"] {
    background-color: #d7d4d4 !important;
}